/* Main */

#wrapper {

	font-family: 'Raleway', sans-serif;
}

#content, #listen, #howto {

	text-align: center;
	padding-top: 150px;
	max-width: 100%;
       height: auto;
}


/* Nav Bar */
.nav-link{

	
	font-size: 15px;
	color: #b5b86a;
}

.navbar {
	border-bottom: solid gray 1px;
}


/* index */

@media (max-width: 576px) {

	#abbafan {font-size: 50px}
}

#abbafan {

	
	font-size: 20px;
	color:#b5b86a;
}



.startbtn{ 
 
	transition: all .5s ease;
	background-color:transparent;
	color:#000000;
	border-radius:20px;
	border:1px solid black;
	padding:12px 28px;
	text-decoration:none;
	opacity:0.5;
	
	max-width: 100%;
	height: auto;
}

.startbtn:hover {

	color:#000000;
	border: 2px solid black;
	opacity:0.7;
	background-color:#b5b86a;

	}

#image {

	max-width: 100%;
        height: auto;

	}


#abbasite {
	margin-top: 20px;
	text-align: center;
	max-width: 100%;
        height: auto;
}

#abbalink {
	color:#b5b86a;
	}

#abbalink:hover {
	color:#000000;
}


/* How to */

ul {
font-size:20px;
}

#instructions {
    margin-top:50px;
    text-align: center;
    height: auto;
   }



/*listen */

#music {

	color:#b5b86a;
	
}



#h1 {
	font-size:30px;
	max-width: 100%;
       height: auto;
}



/* Quiz 1 */

.start-screen,
.score-container {
  padding: 100px;
  margin-bottom: 200px;
  margin-top: 220px;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#goodluck {

	font-size: 20px;
}

#start-button,
#restart {
   border-radius: 20.8px;
  background-color: #b5b86a;
  font-size: 20.8px;
  padding: 8px 28.8px;
 
}

#restart {
  margin-top: 0.9em;
}

#display-container {
  background-color: #ffffff;
   padding: 100px;
  margin-bottom: 200px;
  margin-top: 220px;
  width: 80%;
  max-width: 600px;
  margin: 100px auto;
  top: 50%;
  left: 50%;
  border-radius: 9.6px;
}
.header {
  margin-bottom: 28.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 9.6px;
  border-bottom: 1.6px solid #c0bfd2;
}
.timer-div {
  background-color: #b5b86a;
  width: 104px;
  border-radius: 28.8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11.2px 28.8px;
}

.question {
  font-size: 20px;
  color:black;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.option-div {
  font-size: 15px;
  width: 100%;
  padding: 16px;
  margin: 4.8px 0px;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 4.8px;
}

.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}

#next-button {
  font-size: 16px;
  margin-top: 24px;
  border-radius: 28.8px;
  background-color: #b5b86a;
  color: #ffffff;
  padding: 11.2px 28.8px;
  border-radius: .4.8px;
  float: right;
}

.hide {
  display: none;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

#user-score {
  font-size: 24px;
  color: #black;
}


