#wrapper {

	font-family: 'Raleway', sans-serif;
}

.nav-link{

	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #b5b86a;
}

.navbar {
	border-bottom: solid gray 1px;
}

#content, #listen, #howto{

	text-align: center;
	padding-top: 150px;
	font-family: 'Raleway', sans-serif;
	max-width: 100%;
       height: auto;
}

#instructions {
	padding-top:50px;
	width: 50%;
    float: left;
    text-align: center;
   

}

#images {
	width: 50%;
	float:right;
}

#abba2 {
	max-width: 100%;
        height: auto;
        padding:30px;
        

}

#music {

	color:#b5b86a;
	font-family: 'Raleway', sans-serif;
}



h1 {

	font-family: 'Raleway', sans-serif;
	font-size: 5vw;
	max-width: 100%;
  height: auto;

}

#abbafan{

	font-family: 'Raleway', sans-serif;
	font-size: 1vw;
	color:#b5b86a;
}

a {

	color:pink;
}

.start-button { 
 
	transition: all .5s ease;
	background-color:transparent;
	color:black;
	border-radius:20px;
	border:1px solid black;
	padding:12px 28px;
	text-decoration:none;
	opacity:0.5;
	font-family: 'Raleway', sans-serif;
	max-width: 100%;
	height: auto;
}

.start-button:hover {

	color:black;
	border: 2px solid black;
	opacity:0.7;
	background-color:#b5b86a;

	}

	#image {

	max-width: 100%;
        height: auto;

	}
/* Quiz */

#main-container {
	font-family: 'Raleway', sans-serif;
	padding: 20%;
	margin: 0;
	width:100vw;
	height: 100vh;
	display:flex;
	justify-content:center;
	align-items: center;
	
}

.quiz-container {
	width: 800px;
	max-width:80%;

	
}

.butn-grid {
	display: grid;
	grid-template-columns: repeat(2,auto);
	gap: 10px;
	margin: 20px
}

.butn {
	background-color:#b5b86a ;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
	color: black;
	outline: none;
}

.butn:hover {
	border: 2px solid black;
}

 .butn-correct {
 	background-color: green;
 	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
	color: black;
	outline: none;

 }

 .butn-wrong {
 	background-color: red;
 	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
	color: black;
	outline: none;
 }

 .start-butn, {

 	font-size: 50px;
 	font-weight: bold;
 	padding: 10px 20px;

 }

 .next-butn {

 	font-size: 10px;
 	font-weight: bold;
 	padding: 10px 20px;
 }

 .controls {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .hide {
 	display: none;
 }

